DATABASE_URL={{ database_url }}
WORKER_PORT={{ worker_port }}
ORCHESTRATOR_GRPC_ADDR={{ orchestrator_grpc_addr }}
WORKER_HEARTBEAT_INTERVAL={{ worker_heartbeat_interval }}
WORKER_ID={{ worker_id }}
WORKER_ADVERTISED_HOST={{ worker_advertised_host }}
