WORKER_PORT={{ worker_port }}
ORCHESTRATOR_GRPC_ADDR={{ orchestrator_grpc_addr }}
WORKER_HEARTBEAT_INTERVAL={{ worker_heartbeat_interval }}
WORKER_ID={{ worker_id }}-{{ item }}
WORKER_ADVERTISED_HOST={{ worker_advertised_host }}
WORKER_CPU_BUDGET={{ (worker_cpu_budget / worker_instances) | int }}
WORKER_MEM_BUDGET={{ (worker_mem_budget / worker_instances) | int }}
