WORKER_PORT={{ worker_port }}
ORCHESTRATOR_GRPC_ADDR={{ orchestrator_grpc_addr }}
WORKER_HEARTBEAT_INTERVAL={{ worker_heartbeat_interval }}
WORKER_ID={{ worker_id }}-{{ item }}
WORKER_ADVERTISED_HOST={{ worker_advertised_host }}
WORKER_GRPC_BIND_HOST={{ worker_grpc_bind_host | default('') }}
WORKER_CPU_BUDGET={{ (worker_cpu_budget / worker_instances) | int }}
WORKER_MEM_BUDGET={{ (worker_mem_budget / worker_instances) | int }}
FIRECRACKER_IMAGE_DIR={{ firecracker_images_dir }}
FIRECRACKER_SANDBOX_DIR={{ firecracker_sandbox_dir }}
FIRE2_THIN_PATH=/usr/local/sbin/fire2-thin